{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-12">
        {% include contact.html %}
      </div>
      <div class="col-sm-4 col-lg-12">
        {% include language.html %}
      </div>
      <div class="col-sm-4 col-lg-12">
        {% include interests.html %}
      </div>
    </div>
  </div>

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
