{% assign trainings = site.data.data.trainings %}
{% if trainings %}
<section class="section trainings-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ trainings.title }}
  </h2>

  {% if trainings.intro %}
  <div class="intro">
    {{ trainings.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for training in trainings.courses %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="course-title">{{ training.title }}</h3>
        <div class="time">{{ training.time }}</div>
      </div><!--//upper-row-->

      <div class="institute">{{ training.institute }}</div>

    </div><!--//meta-->

    {% if training.details %}
    <div class="details">
      {{ training.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}


</section><!--//section-->
{% endif %}
